- campaigns_already_signed = @campaigns_already_signed || []
- selected_campaigns       = @selected_campaigns || []
- campaign_domain          = 'https://campaigns.transalt.org'


%div.col-sm-6.col-md-4
  %div.card
    %div.campaign{class: "#{campaigns_already_signed.include?(campaign.id) ? 'already-signed' : ''}", 'data-campaign-id' => campaign.id}

      %div.card-body

        %h3.card-title.campaign-name{'data-full-name' => campaign.name, 'data-shortened-name' => string_with_ellipses(campaign.name, 50)}
          / = link_to(campaign.name, campaign.full_url)
          = string_with_ellipses(campaign.name, 50)

        %div.card-text
          %div.d-block.d-md-none
            %a.expand-campaign{href: '#'}
              see campaign description

      %ul.campaign-details.list-group-flush

        - if campaign.is_success
          %li.list-group-item.d-none.d-md-block.success-list-item
            %div.success-banner
              %i.fa.fa-star
              Campaign Won!

        %li.list-group-item.d-none.d-md-block.description-list-item
          %div.card-text.campaign-description
          / = campaign.shortened_description.html_safe
          = (string_with_ellipses(campaign.description_first_paragraph, 200) + link_to(' (see more)', campaign.full_url, {class: 'campaign-link', target: '_blank'})).html_safe

        %li.list-group-item.d-none.d-md-block.signatures-list-item
          = "Signatures: #{number_with_delimiter(campaign.num_signatures, :delimiter => ',')}"

          %div.progress
            - percentage_complete = (campaign.num_signatures.to_f / campaign.signatures_needed) * 100

            - progress_class = case percentage_complete
              - when percentage_complete..25 then "bg-danger"
              - when percentage_complete..75 then "bg-warning"
              - when percentage_complete..100 then "bg-success"
              - else "bg-success"


            %div{'class' => "#{progress_class} progress-bar", 'role' => "progressbar", 'style' => "width: #{(percentage_complete)}%", 'aria-valuenow' => "#{percentage_complete}", 'aria-valuemin' => '0', 'aria-valuemax' => '100'}
              = "#{percentage_complete.to_i}%"

        %li.list-group-item.d-none.d-md-block.campaign-starter-list-item
          Started by:
          %span.starter
            = campaign.starter

        %li.list-group-item.d-none.d-md-block.social-media-list-item
          %span.share-text

          %a{'href' => "https://twitter.com/intent/tweet?status=Sign the petition #{campaign.name}%0A#{campaign_domain}#{campaign.link}", 'target' => '_blank'}
            %i.fa.fa-2x.fa-twitter-square

          %a{'href' => "https://www.facebook.com/sharer/sharer.php?u=#{campaign_domain}#{campaign.link}&title=#{campaign.name}", 'target' => '_blank'}
            %i.fa.fa-2x.fa-facebook-square


        %li.list-group-item.no-padding
          %div.details.row
            - if selected_campaigns.include?(campaign.id)

              %div.col.to-be-signed{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", "data-sign" => 'true'}
                %span
                %i.fa.fa-check
            - elsif campaigns_already_signed.include?(campaign.id)
              %div.col.already-signed{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", "data-sign" => 'false'}
                %span
                %i.fa.fa-check
            - else
              %div.col.sign{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", "data-sign" => 'false'}
                %span
                  Add
                %i.fa.fa-plus


            %div.col{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}"}
              %span.borough
                = borough_abbreviation(campaign.borough)
