- campaigns_already_signed = @campaigns_already_signed || []
- selected_campaigns       = @selected_campaigns || []
- campaign_domain          = 'https://campaigns.transalt.org'

%div{class: "col-sm-6 col-md-4 row-item #{'list-row-item' if @view_style == 'list'}"}
  %div.card
    %div.campaign{class: "#{campaigns_already_signed.include?(campaign.id) ? 'already-signed' : ''} #{selected_campaigns.include?(campaign.id) ? 'to-be-signed' : ''}", 'id' => "campaign-#{campaign.id}", 'data-campaign-id' => campaign.id}

      %div.card-top
        %div.card-body
          // Use styles of h3, but use h1 for accessibility.
          %h1.h3.card-title.campaign-name{'data-full-name' => campaign.name, 'data-shortened-name' => string_with_ellipses(campaign.name, 50)}
            / = link_to(campaign.name, campaign.full_url)
            = string_with_ellipses(campaign.name, 50)

      %ul.campaign-details.list-group-flush

        - if campaign.is_success
          %li.list-group-item.success-list-item
            %div.success-banner
              %i.fa.fa-star{'aria-hidden' => 'true'}
              Campaign Won!

        %li.list-group-item.description-list-item
          %div.d-block.d-md-none.see-description-link
            %div.card-text
              %div.d-block.d-md-none
                %a.expand-campaign{href: '#'}
                  see campaign description

          %div.d-none.d-md-block.card-text.campaign-description.grid-view
            %span.letter-text
              = (string_with_ellipses(campaign.description_first_paragraph, 200)).html_safe
            = link_to(' (see more)', '#', {class: 'campaign-see-more', target: '_blank', 'data-full-text' => campaign.description.html_safe, 'data-shortened-text' => string_with_ellipses(campaign.description_first_paragraph, 200)}).html_safe
          %div.card-text.campaign-description.list-view
            %span.letter-text
              = (string_with_ellipses(campaign.description, 400)).html_safe
            = link_to(' (see more)', '#', {class: 'campaign-see-more', target: '_blank', 'data-full-text' => campaign.description.html_safe, 'data-shortened-text' => string_with_ellipses(campaign.description_first_paragraph, 200)}).html_safe

        %li.list-group-item.d-none.d-md-block.signatures-list-item>
          %span.signatures
            = "Signatures: #{number_with_delimiter(campaign.num_signatures, :delimiter => ',')}"

          %div.progress
            - percentage_complete = (campaign.num_signatures.to_f / campaign.signatures_needed) * 100

            - progress_class = case percentage_complete
              - when percentage_complete..25 then 'bg-danger'
              - when percentage_complete..75 then 'bg-warning'
              - when percentage_complete..100 then 'bg-success'
              - else 'bg-success'


            %div{'class' => "#{progress_class} progress-bar", 'role' => "progressbar", 'style' => "width: #{(percentage_complete < 15 ? 15 : percentage_complete)}%", 'aria-valuenow' => "#{percentage_complete}", 'aria-valuemin' => '0', 'aria-valuemax' => '100', 'aria-label' => "#{percentage_complete.to_i}% of signatures needed to reach campaign goal."}
              = "#{percentage_complete.to_i}%"

        %li.list-group-item.d-none.d-md-block.campaign-starter-list-item>
          %div{'aria-labelledby' => "started-by-text-#{campaign.id} starter-#{campaign.id}"}
            %a.campaign-link{href: "#{campaign.full_url}", target: '_blank', 'aria-label' => 'Link to campaign page on Transportation Alternatives website.'}
              %span.started-by-text{id: "started-by-text-#{campaign.id}", 'aria-hidden' => 'true'}
                Started by:
              %span.starter{id: "starter-#{campaign.id}", 'aria-hidden' => 'true'}
                = campaign.starter
              %span.sr-only
                = "Started by #{campaign.starter}"

        %li.list-group-item.d-none.d-md-block.social-media-list-item>
          %div.social-media-items

            %a.social-media-share-link.twitter-link{'href' => "https://twitter.com/intent/tweet?status=Sign the petition #{campaign.name}%0A#{campaign_domain}#{campaign.link}", 'target' => '_blank', 'aria-label' => 'Share campaign to Twitter'}
              %i.fa.fa-2x.fa-twitter-square

            %a.social-media-share-link.facebook-link{'href' => "https://www.facebook.com/sharer/sharer.php?u=#{campaign_domain}#{campaign.link}&title=#{campaign.name}", 'target' => '_blank', 'aria-label' => 'Share campaign to Facebook'}
              %i.fa.fa-2x.fa-facebook-square


        %li.list-group-item.no-padding.signing-list-item
          %div.details.row
            - if selected_campaigns.include?(campaign.id)

              %button.col.to-be-signed{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", "data-sign" => 'true', 'aria-label' => 'Campaign added', 'type' => 'button'}
                %span
                %i.fa.fa-check{'aria-hidden' => 'true'}

            - elsif campaigns_already_signed.include?(campaign.id)
              %div.col.already-signed{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", 'aria-label' => 'Campaign already signed', "data-sign" => 'false'}
                %span
                %i.fa.fa-check{'aria-hidden' => 'true'}
            - else
              %button.col.sign{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}", 'aria-label' => 'Add campaign', "data-sign" => 'false', 'type' => 'button'}
                %span
                  Add
                %i.fa.fa-plus{'aria-hidden' => 'true'}


            %div.col{class: "#{campaign.borough.downcase.strip.gsub(' ', '-')}"}
              %span.borough
                = borough_abbreviation(campaign.borough)
