%li.campaign.list-group-item{class: "#{petition.borough.downcase}", 'data-campaign-id' => petition.id}
  %a.information-toggle{href: '#'}
    %div.card-body
      %div.campaign-name
        = petition.name
      %div.borough
        = borough_abbreviation(petition.borough)

  %div{class: "petition-details #{'d-none' unless show_detail}"}
    %div.petition-text
      %blockquote.blockquote{'data-full-letter' => petition.letter.gsub(/\n/, '<br>'), 'data-shortened-letter' => string_with_ellipses(petition.letter.gsub(/\n/, '<br>'))}
        = "\"#{string_with_ellipses(petition.letter.gsub(/\n/, '<br>'), 200)}\""
      %div.read-more
        (read more)

    %div.target-details
      %div.petition-delivery
        This petition will be delivered to:
      %ul.targets.list-group-flush
        - petition.targets.split(/,\s*|and\s*/).reject(&:blank?).each do |target|
          %li.target.wide-display
            = target
          %li.target.narrow-display
            = target_abbreviation(target)