- previously_signed_petitions = (@recently_signed_petitions || []) + (@already_signed_campaigns || [])
- previously_signed           = previously_signed_petitions.include?(petition)
- just_signed_petitions       = (@just_signed_campaigns || [])
- errors                      = (@errors || {})[petition.id]
- has_errors                  = !errors.blank?

- show_detail                 = petition.id == petition_to_expand
- show_share_links            = (previously_signed_petitions + just_signed_petitions).include?(petition) && current_page?(:controller => 'application', :action => 'thank_you')

- campaign_domain             = 'https://campaigns.transalt.org'


%li.campaign.list-group-item{class: "#{petition.borough.downcase.strip.gsub(' ', '-')} #{'signed' if previously_signed}", 'data-campaign-id' => petition.id}
  %a.information-toggle{href: '#'}
    %div.card-body
      %div.campaign-name
        = petition.name
      %div.borough
        - if previously_signed
          %i.fa.fa-check
        - elsif has_errors
          %i.fa.fa-refresh
        - else
          = borough_abbreviation(petition.borough)

  %div{class: "petition-details #{'d-none' unless show_detail}"}
    %div.petition-text
      - shortened_string = string_with_ellipses(format_letter(petition.letter.gsub('\'', '')), 200)
      %blockquote.blockquote{'data-full-letter' => format_letter(petition.letter.gsub('\'', '')), 'data-shortened-letter' => shortened_string}
        = shortened_string.html_safe
      - if shortened_string.length > 200
        %div.read-more
          (read more)

    %div.target-details
      %div.petition-delivery
        - if previously_signed
          This petition was delivered to:
        - else
          This petition will be delivered to:
      %ul.targets.list-group-flush
        - targets_for_display = petition.targets.split(/(;|,|&|\band\b)/).reject(&:blank?).reject{|cap| /(;|,|&|\band\b)/.match(cap)}.uniq
        - targets_for_display.each do |target|
          %li.target.wide-display
            = remove_targets_abbreviations(target.strip)
          %li.target.narrow-display
            = abbreviate_targets(target.strip)


    - if show_share_links
      %div.social-media-share-links
        %span.share-text

        %a.social-media-share-link.twitter-link{'href' => "https://twitter.com/intent/tweet?status=I just signed the petition '#{petition.name}'%0A#{campaign_domain}#{petition.link}! You should, too!", 'target' => '_blank'}
          %i.fa.fa-2x.fa-twitter-square

        %a.social-media-share-link.facebook-link{'href' => "https://www.facebook.com/sharer/sharer.php?u=#{campaign_domain}#{petition.link}&title=#{petition.name}", 'target' => '_blank'}
          %i.fa.fa-2x.fa-facebook-square

