- campaigns_already_signed = @campaigns_already_signed || []
- selected_campaigns       = @selected_campaigns || []

- if !other_campaigns.empty?
  %div.results-header
    %p
      = "#{campaigns.count} campaign#{'s' if campaigns.count != 1} matched"
      %span.search-term
        = "#{@search_term}:"

%div{class: "row campaign-list #{'matching' if !other_campaigns.empty?}"}
  = render partial: 'application/campaign', collection: campaigns.sort{|x,y| x.name.length <=> y.name.length}, cached: -> campaign { [ campaign, campaigns_already_signed.include?(campaign.id), selected_campaigns.include?(campaign.id) ] }


- if !other_campaigns.empty?
  %div.results-header
    %p
      Other campaigns:

  %div.row.campaign-list.not-matching
    = render partial: 'application/campaign', collection: other_campaigns.sort{|x,y| x.name.length <=> y.name.length}, cached: -> campaign { [ campaign, campaigns_already_signed.include?(campaign.id), selected_campaigns.include?(campaign.id) ] }
