- if !other_campaigns.empty?
  %div.results-header
    %p
      Campaigns that matched
      = succeed ':' do
        %span.search-term
          = @search_term

%div{class: "row campaign-list #{'matching' if !other_campaigns.empty?}"}
  - campaigns.each do |cp|
    = render partial: 'application/campaign', locals: {campaign: cp}


- if !other_campaigns.empty?
  %div.results-header
    %p
      Other campaigns:

  %div.row.campaign-list.not-matching
    - other_campaigns.each do |ocp|
      = render partial: 'application/campaign', locals: {campaign: ocp}
