- campaigns_already_signed = @campaigns_already_signed || []
- selected_campaigns       = @selected_campaigns || []
- have_selected_campaigns  = @selected_campaigns.present?

%main

  %div.header#home-page-header

    %div.container
      %div.row
        %div.col-lg-12
          %div#filters
            %div.input-group
              %span.input-group-addon
                %i.fa.fa-search
              %input.form-control.typeahead{'aria-label' => 'Clear search', placeholder: 'ex: bike lanes, cameras, Queens', type: 'text'}
              %span.input-group-btn
                %button.btn.btn-secondary.clear-search{type: 'button', style: 'display:none', 'aria-label' => 'Clear search', 'aria-hidden' => 'true'}
                  %i.fa.fa-times

            %div.row.filter-buttons.categories
              - [['Cycling', 'bike'], ['Walking', 'walk'], ['Transit', 'directions-bus'], ['Schools', 'graduation-cap']].each do |button_text|
                %div.col.filter-button
                  %div.search-button{'data-search-text' => button_text[0]}
                    %i{class: "zmdi zmdi-#{button_text[1]} zmdi-hc-lg"}
                    %span.sans
                      = button_text[0]


            %div.row.filter-buttons.locations
              - ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Citywide', 'Statewide'].each do |button_text|
                %div{class: "col filter-button borough #{button_text.downcase.strip.gsub(' ', '-')}"}
                  %div.search-button{class: "search-button", 'data-search-text' => button_text}
                    %span.sans
                      = borough_abbreviation(button_text)



      %div.row
        %div.col-lg-12
          %div.sign-all
            - if selected_campaigns.present? && @selected_campaigns.sort == @all_active_campaigns.collect(&:id).sort
              %button.btn.btn-danger.btn-lg.btn-block{type: 'button'}
                Remove All Campaigns
            - elsif @all_active_campaigns.collect(&:id).sort == campaigns_already_signed.sort
              %button.btn.btn-secondary.btn-lg.btn-block{type: 'button'}
                All Campaigns Signed
            - else
              %button.btn.btn-primary.btn-lg.btn-block{type: 'button'}
                Add All Campaigns

  %div.all-campaigns-body#main-content
    %div.container
      %div.row
        %div.campaign-list-container
          %div.row.campaign-list
            = render partial: 'application/campaign', collection: @all_active_campaigns.sort{|x,y| x.name.length <=> y.name.length}, cached: -> campaign { [ campaign, campaigns_already_signed.include?(campaign.id), selected_campaigns.include?(campaign.id) ] }



  %div.sticky-footer.sign-petitions{class: "#{'retracted' if !have_selected_campaigns}"}
    = form_tag('/review', method: 'POST') do

      %input#petition-data{type: 'hidden', name:'campaigns[selected]'}
      %input#unsigned-campaign-ids{type: 'hidden', value: @all_active_campaigns.collect(&:id).sort}

      %input#search-terms{type: 'hidden', value: '[]'}
      %input#categories-filter.filter-terms{type: 'hidden', value: '[]', 'data-filter-type' => 'categories'}
      %input#locations-filter.filter-terms{type: 'hidden', value: '[]', 'data-filter-type' => 'locations'}
      / %input#fingerprint-id{type: 'hidden', name: 'user[fingerprint_id]'}

      %div.footer-text
        Sign
        - num_selected_campaigns = (@selected_campaigns || []).count
        %span.num-campaigns
          = num_selected_campaigns.to_s
        %span.campaign-word
          = (num_selected_campaigns == 1 ? 'petition!' : 'petitions!')
      %div.notification-box{'data-add-color' => '#15a3d0', 'data-remove-color' => '#ffc107'}
        %div.notification
          Campaign added!

  = render partial: 'layouts/footer', locals: {have_selected_campaigns: have_selected_campaigns}






















