- just_signed_campaigns    = @just_signed_campaigns || []
- already_signed_campaigns = @already_signed_campaigns || []

%main
  %div.header#thank-you-page-header
    - 5.times.each do
      %div.balloon
        %p{'aria-hidden' => 'true'}
          Thank You!
    %span.sr-only
      Thank You!


    %div.container
      %div.row
        %div.col-lg-12
          %div#directions
            %h1#encouragement
              = "You're a safe streets hero!"
            %h5#ps{'aria-hidden' => 'true'}
              (Want to sign more?
              = link_to("Head back", homepage_path, {id: 'sign-more', method: :get})
              to the petition homepage.)
            %span.sr-only
              Want to sign more? Head back to the petition homepage.


  %div.thank-you-page-body#main-content
    %div.thank-you-page-container.container
      %div.all-campaigns
        %div.row.justify-content-center


          - if just_signed_campaigns.present?
            %div.col-sm-6.col-md-6.campaigns-chunk.recently-signed-campaigns
              %div.explanation
                %h3.recently-signed-title.petitions-title
                  You just signed
                %div.campaign-container.card
                  %ul.campaigns.list-group.list-group-flush
                    = render partial: 'application/petition', collection: just_signed_campaigns, locals: { petition_to_expand: -1 }, cached: -> petition { [ petition, true, already_signed_campaigns.include?(petition.id) ] }


          - if already_signed_campaigns.present?
            %div.col-sm-6.col-md-6.campaigns-chunk.already-signed-campaigns
              %div.explanation
                %h3.already-signed-title.petitions-title
                  You already signed
                %div.campaign-container.card
                  %ul.campaigns.list-group.list-group-flush
                    = render partial: 'application/petition', collection: already_signed_campaigns, locals: { petition_to_expand: -1 }, cached: -> petition { [ petition, just_signed_campaigns.include?(petition.id), true ] }


  = render partial: 'layouts/footer'


:javascript
  $(document).on('turbolinks:load', function(){
    #{@just_signed_campaigns.collect(&:id)}.forEach(function(campaignID){
      // Trackasaurus
      window.tracker.track('User signed campaign', {campaignID: campaignID});
    })
  });
