!!!
%html{lang: "en"}
  %head
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sign for Safe Streets
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:300"

    = javascript_include_tag 'mixpanel'

    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDfamJ3i1uM6Yc61FW0HeaKCRlE-imBH8U&libraries=places&callback=onReviewPageLoad.initializeGooglePlaces', async: Rails.env.production?, defer: 'defer'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'typeahead'

    = javascript_include_tag 'fingerprintjs2'


  %body
    = render partial: 'layouts/site_header'
    = yield